.contact-container {
  background-image: url("./assets/top-3-full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
