.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 85px;
  left: 0;
  width: 100%;
  height: 0;
  pointer-events: none;
  transition: height 300ms ease-in-out;
  background: linear-gradient(to right, #0fa6e7, #10b984);
  z-index: 1;
  overflow: hidden;
}

.dropdown.active {
  pointer-events: all;
  height: 300px;
}
